/dia_01/CampusLandsERP/build/
/dia_01/CampusLandsERP/dist/

/dia_03/Hospital/build/
/dia_03/Hospital/dist/
/dia_03/Hospital/src/Config.properties

/dia_06/Apuntes/PracticaHerencia/build/

/dia_06/Ejercicio/Baloncesto/build/
/dia_06/Ejercicio/Baloncesto/dist/

/dia_07/Sistema/Baloncesto/build/
/dia_07/Sistema/Baloncesto/dist/
/dia_07/Sistema/Baloncesto/src/Config.properties
/dia_09/Explicacion_estructura/build/
/dia_09/Explicacion_estructura/dist/
/dia_13/Actividad/Carrera/build/
/dia_16/Correccion/src/Config.properties
